.Controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.basket-desc {
  text-align: right;
  margin-right: 35px;
}

b {
  margin-left: 10px;
}

.basket-btn {
  width: 75px;
}